*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
} /*! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com*/
*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}
:after,
:before {
  --tw-content: "";
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  line-height: inherit;
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}
button,
select {
  text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}
menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
dialog {
  padding: 0;
}
textarea {
  resize: vertical;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}
[role="button"],
button {
  cursor: pointer;
}
:disabled {
  cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.pointer-events-none {
  pointer-events: none;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  inset: 0;
}
.left-0 {
  left: 0;
}
.left-1\/2 {
  left: 50%;
}
.left-4 {
  left: 1rem;
}
.left-\[-16px\] {
  left: -16px;
}
.right-3 {
  right: 0.75rem;
}
.right-4 {
  right: 1rem;
}
.right-\[-16px\] {
  right: -16px;
}
.right-\[6px\] {
  right: 6px;
}
.top-1\/2 {
  top: 50%;
}
.top-3 {
  top: 0.75rem;
}
.top-4 {
  top: 1rem;
}
.top-\[172px\] {
  top: 172px;
}
.top-\[6px\] {
  top: 6px;
}
.isolate {
  isolation: isolate;
}
.z-10 {
  z-index: 10;
}
.z-30 {
  z-index: 30;
}
.z-50 {
  z-index: 50;
}
.z-\[1\] {
  z-index: 1;
}
.z-\[2\] {
  z-index: 2;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.order-3 {
  order: 3;
}
.mx-\[6px\] {
  margin-left: 6px;
  margin-right: 6px;
}
.-mb-8 {
  margin-bottom: -2rem;
}
.-mt-\[10px\] {
  margin-top: -10px;
}
.mb-fluid-section-sm {
  margin-bottom: clamp(40px, calc(25.91549px + 3.75587vw), 80px);
}
.ml-\[8px\] {
  margin-left: 8px;
}
.mr-\[8px\] {
  margin-right: 8px;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[-164px\] {
  margin-top: -164px;
}
.mt-\[2px\] {
  margin-top: 2px;
}
.mt-fluid-section {
  margin-top: clamp(80px, calc(51.83099px + 7.51174vw), 160px);
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.h-10 {
  height: 2.5rem;
}
.h-12 {
  height: 3rem;
}
.h-14 {
  height: 3.5rem;
}
.h-16 {
  height: 4rem;
}
.h-20 {
  height: 5rem;
}
.h-6 {
  height: 1.5rem;
}
.h-7 {
  height: 1.75rem;
}
.h-8 {
  height: 2rem;
}
.h-\[120px\] {
  height: 120px;
}
.h-\[160px\] {
  height: 160px;
}
.h-\[200px\] {
  height: 200px;
}
.h-\[268px\] {
  height: 268px;
}
.h-\[312px\] {
  height: 312px;
}
.h-\[320px\] {
  height: 320px;
}
.h-\[370px\] {
  height: 370px;
}
.h-\[3px\] {
  height: 3px;
}
.h-\[400px\] {
  height: 400px;
}
.h-\[480px\] {
  height: 480px;
}
.h-\[54px\] {
  height: 54px;
}
.h-\[6px\] {
  height: 6px;
}
.h-\[clamp\(32px\2c calc\(32px\+8\*\(100vw-375px\)\/1065\)\2c 40px\)\] {
  height: clamp(32px, calc(29.1831px + 0.75117vw), 40px);
}
.h-\[clamp\(40px\2c calc\(40px\+8\*\(100vw-375px\)\/1065\)\2c 48px\)\] {
  height: clamp(40px, calc(37.1831px + 0.75117vw), 48px);
}
.h-auto {
  height: auto;
}
.h-fluid-img-card {
  height: clamp(200px, calc(171.83099px + 7.51174vw), 280px);
}
.h-full {
  height: 100%;
}
.min-h-full {
  min-height: 100%;
}
.w-10 {
  width: 2.5rem;
}
.w-14 {
  width: 3.5rem;
}
.w-16 {
  width: 4rem;
}
.w-20 {
  width: 5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-\[164px\] {
  width: 164px;
}
.w-\[165px\] {
  width: 165px;
}
.w-\[320px\] {
  width: 320px;
}
.w-\[3px\] {
  width: 3px;
}
.w-\[6px\] {
  width: 6px;
}
.w-\[clamp\(40px\2c calc\(40px\+8\*\(100vw-375px\)\/1065\)\2c 48px\)\] {
  width: clamp(40px, calc(37.1831px + 0.75117vw), 48px);
}
.w-auto {
  width: auto;
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.max-w-\[343px\] {
  max-width: 343px;
}
.max-w-\[589px\] {
  max-width: 589px;
}
.max-w-\[800px\] {
  max-width: 800px;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex-shrink-0,
.shrink-0 {
  flex-shrink: 0;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
}
.-translate-x-1\/2,
.-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
}
.cursor-pointer {
  cursor: pointer;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}
.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}
.snap-start {
  scroll-snap-align: start;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-1\.5 {
  gap: 0.375rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-\[2px\] {
  gap: 2px;
}
.gap-\[3px\] {
  gap: 3px;
}
.gap-\[6px\] {
  gap: 6px;
}
.gap-fluid-gap {
  gap: clamp(32px, calc(23.5493px + 2.25352vw), 56px);
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[12px\] {
  border-radius: 12px;
}
.rounded-\[16px\] {
  border-radius: 16px;
}
.rounded-\[20px\] {
  border-radius: 20px;
}
.rounded-\[24px\] {
  border-radius: 24px;
}
.rounded-\[32px\] {
  border-radius: 32px;
}
.rounded-\[3px\] {
  border-radius: 3px;
}
.rounded-\[4px\] {
  border-radius: 4px;
}
.rounded-\[6px\] {
  border-radius: 6px;
}
.rounded-\[8px\] {
  border-radius: 8px;
}
.rounded-\[clamp\(16px\2c calc\(16px\+4\*\(100vw-375px\)\/1065\)\2c 20px\)\] {
  border-radius: clamp(16px, calc(14.59155px + 0.37559vw), 20px);
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-bl-\[24px\] {
  border-bottom-left-radius: 24px;
}
.rounded-bl-\[8px\] {
  border-bottom-left-radius: 8px;
}
.rounded-br-\[24px\] {
  border-bottom-right-radius: 24px;
}
.rounded-br-\[8px\] {
  border-bottom-right-radius: 8px;
}
.rounded-tl-\[16px\] {
  border-top-left-radius: 16px;
}
.rounded-tr-\[16px\] {
  border-top-right-radius: 16px;
}
.border {
  border-width: 1px;
}
.border-none {
  border-style: none;
}
.border-\[rgba\(145\2c 143\2c 148\2c 0\.3\)\] {
  border-color: hsla(264, 2%, 57%, 0.3);
}
.bg-\[\#3652CE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(54 82 206 / var(--tw-bg-opacity, 1));
}
.bg-\[\#4cc36e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(76 195 110 / var(--tw-bg-opacity, 1));
}
.bg-\[\#55C400\],
.bg-\[\#55c400\] {
  --tw-bg-opacity: 1;
  background-color: rgb(85 196 0 / var(--tw-bg-opacity, 1));
}
.bg-\[\#813481\] {
  --tw-bg-opacity: 1;
  background-color: rgb(129 52 129 / var(--tw-bg-opacity, 1));
}
.bg-\[\#FDFDFD\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 253 / var(--tw-bg-opacity, 1));
}
.bg-\[\#FF7B2F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 123 47 / var(--tw-bg-opacity, 1));
}
.bg-\[\#f0f0f2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 242 / var(--tw-bg-opacity, 1));
}
.bg-\[\#f4f2f7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 242 247 / var(--tw-bg-opacity, 1));
}
.bg-\[\#fdfdfd\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 253 253 / var(--tw-bg-opacity, 1));
}
.bg-\[\#ff6161\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 97 97 / var(--tw-bg-opacity, 1));
}
.bg-\[rgba\(240\2c 240\2c 240\2c 0\.15\)\] {
  background-color: hsla(0, 0%, 94%, 0.15);
}
.bg-\[rgba\(34\2c 51\2c 66\2c 0\.2\)\] {
  background-color: rgba(34, 51, 66, 0.2);
}
.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(129 52 129 / var(--tw-bg-opacity, 1));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.p-0\.5 {
  padding: 0.125rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-\[clamp\(32px\2c calc\(32px\+32\*\(100vw-375px\)\/1065\)\2c 64px\)\] {
  padding: clamp(32px, calc(20.73239px + 3.00469vw), 64px);
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-\[3px\] {
  padding-left: 3px;
  padding-right: 3px;
}
.px-\[6px\] {
  padding-left: 6px;
  padding-right: 6px;
}
.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px;
}
.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}
.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}
.py-\[clamp\(6px\2c calc\(6px\+2\*\(100vw-375px\)\/1065\)\2c 8px\)\] {
  padding-top: clamp(6px, calc(5.29577px + 0.18779vw), 8px);
  padding-bottom: clamp(6px, calc(5.29577px + 0.18779vw), 8px);
}
.py-px {
  padding-top: 1px;
  padding-bottom: 1px;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pb-\[6px\] {
  padding-bottom: 6px;
}
.pb-\[8px\] {
  padding-bottom: 8px;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-\[2px\] {
  padding-left: 2px;
}
.pl-\[clamp\(16px\2c calc\(16px\+12\*\(100vw-375px\)\/1065\)\2c 28px\)\] {
  padding-left: clamp(16px, calc(11.77465px + 1.12676vw), 28px);
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-\[clamp\(6px\2c calc\(6px\+2\*\(100vw-375px\)\/1065\)\2c 8px\)\] {
  padding-right: clamp(6px, calc(5.29577px + 0.18779vw), 8px);
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pt-16 {
  padding-top: 4rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-\[22px\] {
  padding-top: 22px;
}
.pt-\[2px\] {
  padding-top: 2px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.font-akrobat {
  font-family: Akrobat, sans-serif;
}
.font-unbounded {
  font-family: Unbounded, sans-serif;
}
.text-\[14px\] {
  font-size: 14px;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[18px\] {
  font-size: 18px;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[29px\] {
  font-size: 29px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[7px\] {
  font-size: 7px;
}
.text-\[clamp\(24px\2c calc\(24px\+8\*\(100vw-375px\)\/393\)\2c 32px\)\] {
  font-size: clamp(24px, calc(16.36641px + 2.03562vw), 32px);
}
.text-fluid-body {
  font-size: clamp(16px, calc(15.29577px + 0.18779vw), 18px);
  line-height: 1.22;
}
.text-fluid-footer-email {
  font-size: clamp(18px, calc(15.88732px + 0.56338vw), 24px);
  line-height: 1.33;
}
.text-fluid-footer-phone {
  font-size: clamp(24px, calc(18.3662px + 1.50235vw), 40px);
  line-height: 1.2;
}
.text-fluid-h2 {
  font-size: clamp(24px, calc(21.1831px + 0.75117vw), 32px);
  line-height: 1.19;
}
.text-fluid-price {
  font-size: clamp(22px, calc(20.59155px + 0.37559vw), 26px);
  line-height: 1.23;
}
.font-black {
  font-weight: 900;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.leading-4 {
  line-height: 1rem;
}
.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.leading-8 {
  line-height: 2rem;
}
.leading-\[1\.2\] {
  line-height: 1.2;
}
.leading-\[11px\] {
  line-height: 11px;
}
.leading-\[14px\] {
  line-height: 14px;
}
.leading-\[18px\] {
  line-height: 18px;
}
.leading-\[20px\] {
  line-height: 20px;
}
.leading-\[22px\] {
  line-height: 22px;
}
.leading-\[36px\] {
  line-height: 36px;
}
.leading-\[9px\] {
  line-height: 9px;
}
.tracking-\[-0\.14px\] {
  letter-spacing: -0.14px;
}
.tracking-\[-0\.28px\] {
  letter-spacing: -0.28px;
}
.tracking-\[-0\.32px\] {
  letter-spacing: -0.32px;
}
.tracking-\[-0\.48px\] {
  letter-spacing: -0.48px;
}
.tracking-\[-0\.52px\] {
  letter-spacing: -0.52px;
}
.tracking-\[-0\.58px\] {
  letter-spacing: -0.58px;
}
.text-\[\#808080\] {
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity, 1));
}
.text-\[\#813481\] {
  --tw-text-opacity: 1;
  color: rgb(129 52 129 / var(--tw-text-opacity, 1));
}
.text-\[\#a7a9ac\] {
  --tw-text-opacity: 1;
  color: rgb(167 169 172 / var(--tw-text-opacity, 1));
}
.text-\[\#fdfdfd\] {
  --tw-text-opacity: 1;
  color: rgb(253 253 253 / var(--tw-text-opacity, 1));
}
.text-dark {
  --tw-text-opacity: 1;
  color: rgb(34 51 66 / var(--tw-text-opacity, 1));
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgb(129 52 129 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.underline-offset-2 {
  text-underline-offset: 2px;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-30 {
  opacity: 0.3;
}
.opacity-50 {
  opacity: 0.5;
}
.opacity-60 {
  opacity: 0.6;
}
.shadow-\[0_4px_36px_-20px_rgba\(0\2c 0\2c 0\2c 0\.6\)\] {
  --tw-shadow: 0 4px 36px -20px rgba(0, 0, 0, 0.6);
  --tw-shadow-colored: 0 4px 36px -20px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.shadow-\[0px_4px_36px_0px_rgba\(129\2c 52\2c 129\2c 0\.1\)\] {
  --tw-shadow: 0px 4px 36px 0px rgba(129, 52, 129, 0.1);
  --tw-shadow-colored: 0px 4px 36px 0px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.transition {
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-150,
.transition-all {
  transition-duration: 0.15s;
}
.duration-300 {
  transition-duration: 0.3s;
}
.hover\:bg-\[\#662966\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(102 41 102 / var(--tw-bg-opacity, 1));
}
.hover\:text-\[\#813481\]:hover,
.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(129 52 129 / var(--tw-text-opacity, 1));
}
.hover\:underline:hover {
  text-decoration-line: underline;
}
.hover\:opacity-100:hover {
  opacity: 1;
}
.peer:focus ~ .peer-focus\:top-\[7px\] {
  top: 7px;
}
.peer:focus ~ .peer-focus\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.peer:focus ~ .peer-focus\:text-\[12px\] {
  font-size: 12px;
}
.peer:focus ~ .peer-focus\:leading-4 {
  line-height: 1rem;
}
.peer:not(:-moz-placeholder-shown)
  ~ .peer-\[\:not\(\:-moz-placeholder-shown\)\]\:top-\[7px\] {
  top: 7px;
}
.peer:not(:placeholder-shown)
  ~ .peer-\[\:not\(\:placeholder-shown\)\]\:top-\[7px\] {
  top: 7px;
}
.peer:not(:-moz-placeholder-shown)
  ~ .peer-\[\:not\(\:-moz-placeholder-shown\)\]\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.peer:not(:placeholder-shown)
  ~ .peer-\[\:not\(\:placeholder-shown\)\]\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.peer:not(:-moz-placeholder-shown)
  ~ .peer-\[\:not\(\:-moz-placeholder-shown\)\]\:text-\[12px\] {
  font-size: 12px;
}
.peer:not(:placeholder-shown)
  ~ .peer-\[\:not\(\:placeholder-shown\)\]\:text-\[12px\] {
  font-size: 12px;
}
.peer:not(:-moz-placeholder-shown)
  ~ .peer-\[\:not\(\:-moz-placeholder-shown\)\]\:leading-4 {
  line-height: 1rem;
}
.peer:not(:placeholder-shown)
  ~ .peer-\[\:not\(\:placeholder-shown\)\]\:leading-4 {
  line-height: 1rem;
}
@media (min-width: 768px) {
  .md\:top-\[14px\] {
    top: 14px;
  }
  .md\:inline {
    display: inline;
  }
  .md\:h-\[180px\] {
    height: 180px;
  }
  .md\:h-\[200px\] {
    height: 200px;
  }
  .md\:h-\[268px\] {
    height: 268px;
  }
  .md\:h-\[4\.5px\] {
    height: 4.5px;
  }
  .md\:h-\[400px\] {
    height: 400px;
  }
  .md\:w-\[246px\] {
    width: 246px;
  }
  .md\:w-\[360px\] {
    width: 360px;
  }
  .md\:w-\[4\.5px\] {
    width: 4.5px;
  }
  .md\:max-w-\[595px\] {
    max-width: 595px;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:justify-end {
    justify-content: flex-end;
  }
  .md\:gap-3 {
    gap: 0.75rem;
  }
  .md\:gap-4 {
    gap: 1rem;
  }
  .md\:gap-\[3px\] {
    gap: 3px;
  }
  .md\:gap-\[4\.5px\] {
    gap: 4.5px;
  }
  .md\:gap-\[6px\] {
    gap: 6px;
  }
  .md\:overflow-x-visible {
    overflow-x: visible;
  }
  .md\:rounded-\[18px\] {
    border-radius: 18px;
  }
  .md\:rounded-\[4\.5px\] {
    border-radius: 4.5px;
  }
  .md\:rounded-bl-\[12px\] {
    border-bottom-left-radius: 12px;
  }
  .md\:rounded-br-\[12px\] {
    border-bottom-right-radius: 12px;
  }
  .md\:rounded-tl-\[24px\] {
    border-top-left-radius: 24px;
  }
  .md\:rounded-tr-\[24px\] {
    border-top-right-radius: 24px;
  }
  .md\:p-6 {
    padding: 1.5rem;
  }
  .md\:px-\[4\.5px\] {
    padding-left: 4.5px;
    padding-right: 4.5px;
  }
  .md\:px-\[6px\] {
    padding-left: 6px;
    padding-right: 6px;
  }
  .md\:py-\[1\.5px\] {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
  .md\:py-\[120px\] {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .md\:pb-3 {
    padding-bottom: 0.75rem;
  }
  .md\:pt-\[200px\] {
    padding-top: 200px;
  }
  .md\:pt-\[6px\] {
    padding-top: 6px;
  }
  .md\:text-\[10\.5px\] {
    font-size: 10.5px;
  }
  .md\:text-\[21px\] {
    font-size: 21px;
  }
  .md\:text-\[24px\] {
    font-size: 24px;
  }
  .md\:text-\[36px\] {
    font-size: 36px;
  }
  .md\:text-\[50px\] {
    font-size: 50px;
  }
  .md\:leading-10 {
    line-height: 2.5rem;
  }
  .md\:leading-7 {
    line-height: 1.75rem;
  }
  .md\:leading-\[13\.5px\] {
    line-height: 13.5px;
  }
  .md\:leading-\[21px\] {
    line-height: 21px;
  }
  .md\:leading-\[48px\] {
    line-height: 48px;
  }
  .md\:tracking-\[-0\.42px\] {
    letter-spacing: -0.42px;
  }
  .md\:tracking-\[-1px\] {
    letter-spacing: -1px;
  }
}
@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }
  .lg\:bottom-6 {
    bottom: 1.5rem;
  }
  .lg\:left-1\/2 {
    left: 50%;
  }
  .lg\:top-4 {
    top: 1rem;
  }
  .lg\:order-first {
    order: -9999;
  }
  .lg\:order-last {
    order: 9999;
  }
  .lg\:m-2 {
    margin: 0.5rem;
  }
  .lg\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .lg\:mb-8 {
    margin-bottom: 2rem;
  }
  .lg\:ml-0 {
    margin-left: 0;
  }
  .lg\:mr-0 {
    margin-right: 0;
  }
  .lg\:mt-0 {
    margin-top: 0;
  }
  .lg\:mt-8 {
    margin-top: 2rem;
  }
  .lg\:mt-auto {
    margin-top: auto;
  }
  .lg\:block {
    display: block;
  }
  .lg\:inline {
    display: inline;
  }
  .lg\:flex {
    display: flex;
  }
  .lg\:grid {
    display: grid;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:h-20 {
    height: 5rem;
  }
  .lg\:h-\[120px\] {
    height: 120px;
  }
  .lg\:h-\[134px\] {
    height: 134px;
  }
  .lg\:h-\[3px\] {
    height: 3px;
  }
  .lg\:h-\[400px\] {
    height: 400px;
  }
  .lg\:h-\[540px\] {
    height: 540px;
  }
  .lg\:h-\[544px\] {
    height: 544px;
  }
  .lg\:h-\[560px\] {
    height: 560px;
  }
  .lg\:h-auto {
    height: auto;
  }
  .lg\:h-full {
    height: 100%;
  }
  .lg\:w-20 {
    width: 5rem;
  }
  .lg\:w-\[164px\] {
    width: 164px;
  }
  .lg\:w-\[240px\] {
    width: 240px;
  }
  .lg\:w-\[300px\] {
    width: 300px;
  }
  .lg\:w-\[320px\] {
    width: 320px;
  }
  .lg\:w-\[330px\] {
    width: 330px;
  }
  .lg\:w-\[3px\] {
    width: 3px;
  }
  .lg\:w-\[488px\] {
    width: 488px;
  }
  .lg\:w-auto {
    width: auto;
  }
  .lg\:max-w-\[322px\] {
    max-width: 322px;
  }
  .lg\:max-w-\[600px\] {
    max-width: 600px;
  }
  .lg\:max-w-\[730px\] {
    max-width: 730px;
  }
  .lg\:flex-1 {
    flex: 1 1 0%;
  }
  .lg\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .lg\:-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }
  .lg\:items-start {
    align-items: flex-start;
  }
  .lg\:items-end {
    align-items: flex-end;
  }
  .lg\:items-center {
    align-items: center;
  }
  .lg\:justify-start {
    justify-content: flex-start;
  }
  .lg\:justify-end {
    justify-content: flex-end;
  }
  .lg\:justify-between {
    justify-content: space-between;
  }
  .lg\:gap-0 {
    gap: 0;
  }
  .lg\:gap-1 {
    gap: 0.25rem;
  }
  .lg\:gap-10 {
    gap: 2.5rem;
  }
  .lg\:gap-16 {
    gap: 4rem;
  }
  .lg\:gap-2 {
    gap: 0.5rem;
  }
  .lg\:gap-3 {
    gap: 0.75rem;
  }
  .lg\:gap-4 {
    gap: 1rem;
  }
  .lg\:gap-6 {
    gap: 1.5rem;
  }
  .lg\:gap-8 {
    gap: 2rem;
  }
  .lg\:gap-\[2px\] {
    gap: 2px;
  }
  .lg\:gap-\[3px\] {
    gap: 3px;
  }
  .lg\:overflow-hidden {
    overflow: hidden;
  }
  .lg\:overflow-visible {
    overflow: visible;
  }
  .lg\:rounded-\[12px\] {
    border-radius: 12px;
  }
  .lg\:rounded-\[24px\] {
    border-radius: 24px;
  }
  .lg\:rounded-\[32px\] {
    border-radius: 32px;
  }
  .lg\:rounded-\[3px\] {
    border-radius: 3px;
  }
  .lg\:rounded-none {
    border-radius: 0;
  }
  .lg\:rounded-bl-\[8px\] {
    border-bottom-left-radius: 8px;
  }
  .lg\:rounded-br-\[8px\] {
    border-bottom-right-radius: 8px;
  }
  .lg\:rounded-tl-\[16px\] {
    border-top-left-radius: 16px;
  }
  .lg\:rounded-tr-\[16px\] {
    border-top-right-radius: 16px;
  }
  .lg\:bg-transparent {
    background-color: transparent;
  }
  .lg\:bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }
  .lg\:p-10 {
    padding: 2.5rem;
  }
  .lg\:p-3 {
    padding: 0.75rem;
  }
  .lg\:p-4 {
    padding: 1rem;
  }
  .lg\:p-6 {
    padding: 1.5rem;
  }
  .lg\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .lg\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .lg\:px-\[3px\] {
    padding-left: 3px;
    padding-right: 3px;
  }
  .lg\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .lg\:py-px {
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .lg\:pb-0 {
    padding-bottom: 0;
  }
  .lg\:pb-10 {
    padding-bottom: 2.5rem;
  }
  .lg\:pb-2 {
    padding-bottom: 0.5rem;
  }
  .lg\:pb-\[100px\] {
    padding-bottom: 100px;
  }
  .lg\:pt-0 {
    padding-top: 0;
  }
  .lg\:pt-1 {
    padding-top: 0.25rem;
  }
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-\[14px\] {
    font-size: 14px;
  }
  .lg\:text-\[16px\] {
    font-size: 16px;
  }
  .lg\:text-\[18px\] {
    font-size: 18px;
  }
  .lg\:text-\[20px\] {
    font-size: 20px;
  }
  .lg\:text-\[28px\] {
    font-size: 28px;
  }
  .lg\:text-\[7px\] {
    font-size: 7px;
  }
  .lg\:leading-6 {
    line-height: 1.5rem;
  }
  .lg\:leading-\[14px\] {
    line-height: 14px;
  }
  .lg\:leading-\[22px\] {
    line-height: 22px;
  }
  .lg\:leading-\[34px\] {
    line-height: 34px;
  }
  .lg\:leading-\[9px\] {
    line-height: 9px;
  }
  .lg\:tracking-\[-0\.28px\] {
    letter-spacing: -0.28px;
  }
  .lg\:tracking-\[-0\.32px\] {
    letter-spacing: -0.32px;
  }
}
@media (min-width: 1420px) {
  .min-\[1420px\]\:sticky {
    position: sticky;
  }
  .min-\[1420px\]\:top-0 {
    top: 0;
  }
  .min-\[1420px\]\:-mt-\[6px\] {
    margin-top: -6px;
  }
  .min-\[1420px\]\:mb-0 {
    margin-bottom: 0;
  }
  .min-\[1420px\]\:h-\[216px\] {
    height: 216px;
  }
  .min-\[1420px\]\:h-\[238px\] {
    height: 238px;
  }
  .min-\[1420px\]\:w-\[600px\] {
    width: 600px;
  }
  .min-\[1420px\]\:w-auto {
    width: auto;
  }
  .min-\[1420px\]\:flex-1 {
    flex: 1 1 0%;
  }
  .min-\[1420px\]\:flex-shrink-0 {
    flex-shrink: 0;
  }
  .min-\[1420px\]\:shrink {
    flex-shrink: 1;
  }
  .min-\[1420px\]\:snap-none {
    scroll-snap-type: none;
  }
  .min-\[1420px\]\:snap-align-none {
    scroll-snap-align: none;
  }
  .min-\[1420px\]\:flex-row {
    flex-direction: row;
  }
  .min-\[1420px\]\:flex-col {
    flex-direction: column;
  }
  .min-\[1420px\]\:items-start {
    align-items: flex-start;
  }
  .min-\[1420px\]\:gap-2 {
    gap: 0.5rem;
  }
  .min-\[1420px\]\:gap-3 {
    gap: 0.75rem;
  }
  .min-\[1420px\]\:gap-4 {
    gap: 1rem;
  }
  .min-\[1420px\]\:gap-8 {
    gap: 2rem;
  }
  .min-\[1420px\]\:self-start {
    align-self: flex-start;
  }
  .min-\[1420px\]\:overflow-x-visible {
    overflow-x: visible;
  }
  .min-\[1420px\]\:rounded-\[24px\] {
    border-radius: 24px;
  }
  .min-\[1420px\]\:p-6 {
    padding: 1.5rem;
  }
  .min-\[1420px\]\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .min-\[1420px\]\:pb-0 {
    padding-bottom: 0;
  }
  .min-\[1420px\]\:pl-6 {
    padding-left: 1.5rem;
  }
  .min-\[1420px\]\:pr-20 {
    padding-right: 5rem;
  }
  .min-\[1420px\]\:pr-40 {
    padding-right: 10rem;
  }
  .min-\[1420px\]\:pt-20 {
    padding-top: 5rem;
  }
  .min-\[1420px\]\:pt-8 {
    padding-top: 2rem;
  }
  .min-\[1420px\]\:text-start {
    text-align: start;
  }
  .min-\[1420px\]\:text-\[16px\] {
    font-size: 16px;
  }
  .min-\[1420px\]\:text-\[18px\] {
    font-size: 18px;
  }
  .min-\[1420px\]\:text-\[56px\] {
    font-size: 56px;
  }
  .min-\[1420px\]\:leading-6 {
    line-height: 1.5rem;
  }
  .min-\[1420px\]\:leading-\[22px\] {
    line-height: 22px;
  }
  .min-\[1420px\]\:leading-\[44px\] {
    line-height: 44px;
  }
  .min-\[1420px\]\:tracking-\[-1\.12px\] {
    letter-spacing: -1.12px;
  }
}
